:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* Gradients */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Hanken Grotesk', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1em; /* 16px */
  line-height: 1.5;
  color: var(--Dark-gray-blue);
  background-color: var(--Pale-blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
#root {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 2rem;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
strong {
  font-weight: 700;
}

.main {
  display: flex;
  width: 46rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--White);
}

.attribution {
  width: 46rem;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.attribution p {
  font-size: 0.75rem;
  margin: 0;
}
.attribution a {
  color: var(--Dark-gray-blue);
}
